{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
    <div class="container align-content-center text-center">
        <h1 class="m-2">Welcome to Maps-R-Us.</h1>
        <p>The perfect website for when you want to look at a map and know exactly where you live, for some reason.</p><br>
        <hr>
        {% if user.is_authenticated %}
            <p>Hello, {{ user.username }}!</p>
            <p><a href="{% url 'logout' %}">Log Out</a></p>
        {% else %}
          <p>You are not logged in! Please log in below.</p><br>
          <a href="{% url 'login' %}" class="btn btn-outline-primary">Log In</a>
            <p>Or, register with the link below.</p>
            <a href="{% url 'signup' %}" class="btn btn-outline-secondary">Register</a>
        {% endif %}
    </div>
{% endblock %}