{% extends 'base.html' %}

{% block title %}Map!!{% endblock %}

{% block content %}
    {% load leaflet_tags %}
    {% leaflet_css %}
    {% leaflet_js %}
    <script src="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.js"></script>
    <div class="container text-center">
        <h1 class="m-3">World Map</h1>
        <p>When you set a marker down and click 'get route', directions to that route will be displayed.<br>
        By clicking on a marker, you can assign that route to a specific dog.</p>

        <form method="post" action="{% url 'world:route' %}">
            {% csrf_token %}
        </form>

        <div id="map" class="container">
            <script>
                var map = L.map('map').fitWorld();

                L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
                    maxZoom: 19,
                    attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
                }).addTo(map);

                map.locate({setView: true, maxZoom: 16});

                var position, destination;

                function onLocationFound(e) {
                    var radius = e.accuracy;
                    position = e.latlng;

                    var marker = L.marker(e.latlng).addTo(map)
                    marker.bindPopup("This is your current location!").openPopup();

                    console.log("found location, marker added");

                    L.circle(e.latlng, radius, {
                        color: 'green',
                        fillColor: '#90EE90',
                        fillOpacity: 0.5,
                    }).addTo(map);
                }

                map.once('locationfound', onLocationFound);

                function onMapClick(e) {
                    var marker = L.marker(e.latlng).addTo(map);
                    marker.bindPopup(
                        '<h6>Which Dog would enjoy this route?</h6>' +
                        '<select name="dogz" id="dogz" class="form-control">' +
                        '<option value="a">--Select Your Dog--</option>' +
                        '{% for dog in dogs %}<option value="{{ dog.id }}">{{ dog.name }}</option>' +
                            '{% endfor %}</select>' +
                        '<button type="button" onclick="update_db();" id="submitbutton" class="btn btn-primary">Store Route</button>'
                    ).openPopup();

                    destination = e.latlng;
                    console.log("destination is " + destination);
                }

                map.on('click', onMapClick)

                function getRoute() {
                    L.Routing.control({
                        waypoints: [
                            position,
                            destination
                        ],
                        routeWhileDragging: true
                    }).addTo(map);
                }

                function getCookie(name) {
                    let cookieValue = null;
                    if (document.cookie && document.cookie !== '') {
                        const cookies = document.cookie.split(';');
                        for (let i = 0; i < cookies.length; i++) {
                            const cookie = cookies[i].trim();
                            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                                break;
                            }
                        }
                    }
                    console.log("cookie has been gotten");
                    return cookieValue;
                }

                function update_db() {
                    var dogid = document.querySelector('#dogz').value;
                    if (dogid === 'a') {
                        alert("No dog selected... If there are no options, add a dog.");
                    } else {

                        let startString = position.lng + ", " +
                            position.lat;
                        let destString = destination.lng + ", " +
                            destination.lat;

                        const csrftoken = getCookie('csrftoken');

                        $.ajax({
                            type: 'POST',
                            headers: {
                                'X-CSRFToken': csrftoken
                            },
                            url: '{% url 'world:route' %}',
                            data: {
                                start: startString,
                                dest: destString,
                                id: dogid
                            }
                        });
                        console.log("update db fired, route deets are " + startString + destString + "dogid is " + dogid);
                    }
                }

                function showPetShops() {
                    console.log("In show pet shops");

                    let csrftoken = getCookie('csrftoken');

                    $.ajax({
                        type: "POST",
                        headers: {
                            'X-CSRFToken': csrftoken
                        },
                        url: '{% url 'world:petshop' %}',
                        data: {
                            bbox: map.getBounds().toBBoxString()
                        }
                    }).done(function (data, status, xhr) {

                        // Handle GeoJSON response from the server.
                        var geoJsonLayer = L.geoJson(data, {
                            pointToLayer: function (feature, latlng) {
                                // Associate each point with the icon we made earlier
                                return L.marker(latlng);
                            },
                            onEachFeature: function (feature, layer) {
                                // For each feature associate a popup with the 'name' property
                                layer.bindPopup(feature.properties.name);
                            },
                        }).addTo(map);

                    }).fail(function (xhr, status, error) {
                        var message = "OSM Overpass query failed.";
                        console.log("Status: " + xhr.status + " " + xhr.responseText);
                        alert(message);
                    }).always(function () {
                    });
                }
            </script>
        </div>
        <div class="container p-3">
            <button type="button" onclick="getRoute();" class="btn btn-primary">Get Route</button>
            <button type="button" onclick="showPetShops();" class="btn btn-primary">Nearest Pet Shops</button>
        </div>
    </div>
{% endblock %}